*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card *{
  overflow: hidden;
}

.image{
  width: 3rem;
}

.page-link{
  color: black;
  background-color: #FFC007;
}

.page-link:hover{
  color: #FFC007;
  background-color: #DC3444;
}

.active .page-link{
  background-color: #DC3444;
  border-color: white;
}